.left-half {
   display: flex;
   height: 100vh;
   align-items: center;
   background-color: #f8faff;
}

.form-content {
   display: inline-block;
   width: 50%;
   margin-left: 25%;
}

.form-content > .title {
   color: #000;
   font-family: Montserrat, sans-serif;
   font-size: 36px;
   margin-bottom: 5px;
}

.form-content > .subtitle {
   color: #000;
   font-family: Montserrat, sans-serif;
}

.form-content > .signin-btn {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 100%;
}

.signin-btn > .sign-in-btn {
   display: flex;
   align-items: center;
   justify-content: space-around;
   background-color: white;
   border: none;
   border-radius: 8px;
   margin: 20px 0;
   padding: 5px 0;
   width: 47%;
}

.signin-btn > .sign-in-btn:hover {
   scale: 1.1;
   cursor: pointer;
}

.sign-in-btn > .sign-text {
   color: #858585;
   font-family: Montserrat;
   font-size: 12px;
   font-weight: 400;
}

.form-content > .sign-in-form {
   display: flex;
   justify-content: flex-start;
   flex-direction: column;
   width: 100%;
   padding: 30px 10%;
   background-color: white;
   border: none;
   border-radius: 12px;
}

#email-label {
   margin-top: 0;
}

.small-text {
   color: #000;
   font-family: Lato, sans-serif;
   font-size: 16px;
   font-weight: 400;
   margin: 20px 0;
}

.sign-in-form > .form-inputs {
   color: #000;
   font-family: Lato, sans-serif;
   font-size: 16px;
   padding: 8px 10px;
   font-weight: 400;
   border: none;
   outline: none;
   border-radius: 6px;
   background-color: #eaeaea;
}

.color-blue {
   color: #346bd4;
   cursor: pointer;
}

.sign-in-form > .submit-button {
   padding: 8px 0;
   border: none;
   outline: none;
   border-radius: 8px;
   background: #4285f4;
   color: #fff;
   text-align: center;
   font-family: Montserrat, sans-serif;
   font-size: 16px;
   font-weight: 700;
}

.sign-in-form > .submit-button:hover {
   scale: 1.07;
   cursor: pointer;
}

.register-txt {
   text-align: center;
   font-family: Lato, sans-serif;
   font-size: 16px;
   font-weight: 400;
   color: #858585;
   margin-bottom: 60px;
}

@media (max-width: 1100px) {
   .form-content {
      display: inline-block;
      width: 60%;
      margin-left: 20%;
   }
}

@media (max-width: 768px) {
   .left-half {
      height: 70vh;
   }
   .form-content {
      display: inline-block;
      width: 60%;
      margin-left: 20%;
   }
   .form-content > .title {
      text-align: center;
   }
   .form-content > .subtitle {
      display: block;
      text-align: center;
   }
}

@media (max-width: 500px) {
   .left-half {
      height: 70vh;
   }
   .form-content {
      display: inline-block;
      width: 80%;
      margin-left: 10%;
   }
   .form-content > .title {
      text-align: center;
   }
   .form-content > .subtitle {
      display: block;
      text-align: center;
   }
}

@media (max-width:750px){
   .left-half{
      margin-top: 100px;
   }
}