.board-container {
   display: flex;
   position: relative;
   align-items: center;
   height: 100vh;
   background: linear-gradient(180deg, #4285f4 0%, #286de0 100%);
   clip-path: polygon(0 0, 100% 0%, 90% 100%, 0% 100%);
}

.resp{
   display: none;
}

.board-container > .logo-text {
   position: absolute;
   top: 50px;
   color: white;
   left: 80px;
   font-size: 24px;
   font-weight: 700;
   font-family: Poppins, sans-serif;
}

.board-container > h1 {
   font-family: Montserrat, sans-serif;
   font-size: 72px;
   font-weight: 700;
   color: white;
   margin-left: 30%;
}

.board-container > .logo-container {
   display: flex;
   align-items: center;
   justify-content: space-between;
   position: absolute;
   left: 30%;
   bottom: 60px;
   width: 30%;
}

.logo-container > .logos {
   width: 38px;
}

@media (max-width: 1500px) {
   .board-container > .logo-container {
      left: 30%;
      width: 40%;
   }
}

@media (max-width: 1200px) {
   .board-container > .logo-container {
      left: 27.5%;
      width: 45%;
   }
}

@media (max-width: 768px) {
   .board-container {
      justify-content: center;
      height: 70vh;
      clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 90%);
   }
   .board-container > .logo-text {
      left: 40%;
   }
   .board-container > h1 {
      margin-left: 0;
   }
   .board-container > .logo-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: absolute;
      left: 25%;
      bottom: 90px;
      width: 50%;
   }
}

@media (max-width:650px){
   .board-container{
      display: none;
   }
   .resp{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      color: white;
      background-color: #4285f4;
      padding: 3%;
      align-items: center;
   }
}