.dashboard-container {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 75%;
   height: 100vh;
   background-color: #f8faff;
}

.top{
   display: none;
}

.dashboard-container > .dashboard {
   display: inline-block;
   position: relative;
   width: 90%;
   height: 85%;
}

.dashboard > .top-navbar-container {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 100%;
   margin-bottom: 20px;
}

.top-navbar-container > .title {
   color: #000;
   font-family: Montserrat, sans-serif;
   font-size: 24px;
   font-weight: 700;
}

.top-navbar-container > .search-notif-container {
   display: flex;
   justify-content: flex-end;
   gap: 30px;
}

.search-notif-container > input {
   width: 60%;
   padding: 5px 5px;
   border: none;
   outline: none;
   border-radius: 8px;
   background-color: #fff;
   color: #b0b0b0;
   font-family: Lato, sans-serif;
   font-size: 14px;
   font-weight: 400;
}

.search-notif-container > img {
   clip-path: circle();
}

.dashboard > .totals-card-container {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 100%;
}

.dashboard > .pie-chart-addprofile-container {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 100%;
}

.pie-chart-addprofile-container > .add-profile-container {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 45%;
   height: 28vh;
   border: 2px solid #e0e0e0;
   border-radius: 8px;
   background-color: #fff;
   box-shadow: 1px 1px 10px#e0e0e0;
}

.add-profile-container:hover {
   scale: 1.06;
   cursor: pointer;
}

.add-profile-text {
   color: #858585;
   font-family: Figtree, sans-serif;
   font-size: 16px;
   font-weight: 600;
}

.add-profile-container > div > .plus-logo-container {
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 10px 10px;
   margin-bottom: 10px;
   background-color: #f2f2f2;
   clip-path: circle();
}

.profile-container {
   display: grid;
   grid-template-columns: 1fr 1fr;
   column-gap: 10px;
   padding: 20px 25px;
   align-items: center;
   justify-content: center;
   width: 45%;
   height: 28vh;
   border: 2px solid #e0e0e0;
   border-radius: 8px;
   background-color: #fff;
   box-shadow: 1px 1px 10px#e0e0e0;
}

.profile-container > h2 {
   grid-column: span 2;
   margin: 10px;
   color: #000;
   font-family: Figtree, sans-serif;
   font-size: 24px;
   font-weight: 600;
}

.profile-container > div {
   display: flex;
   align-items: center;
   justify-content: flex-start;
   gap: 5px;
}

.profile-container > div > a {
   color: #231f20;
   font-family: Figtree, sans-serif;
   font-size: 14px;
   font-weight: 400;
   text-decoration-line: underline;
}

.logo-wrapper {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 28px;
   height: 28px;
   clip-path: circle();
}

.light-green-bgcolor {
   background-color: #c9fecf;
}

.light-pink-bgcolor {
   background-color: #ffe9ec;
}

.light-purple-bgcolor {
   background-color: #c8b4ff;
}

@media (max-width: 900px) {
   .dashboard-container {
      width: 100%;
   }
   .dashboard > .top-navbar-container {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 20px;
   }
   .dashboard > .totals-card-container {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      width: 100%;
   }
   .pie-chart-addprofile-container {
      flex-direction: column;
      gap: 30px;
      flex-wrap: wrap;
      justify-content: center;
   }
   .pie-chart-addprofile-container > .add-profile-container {
      width: 100%;
      margin-bottom: 40px;
   }
   .profile-container {
      width: 100%;
      margin-bottom: 40px;
   }
}




@media (max-width: 900px){
   .nav-bar-container{
      display: none;
   }

  
}

